---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen">
		<main class="max-w-3xl mx-auto md:pt-30 pt-10 px-6">
			<header class="mb-12  md:pb-6">
				<h1 class="text-4xl font-bold mb-3 text-stone-800">Zyther Stories</h1>
				<p class="text-sm text-stone-500">
					<FormattedDate date={new Date()} /> · {posts.length} stories
				</p>
				<p class="text-sm text-stone-500">
					未完待续...
				</p>
			</header>

			<section class="articles">
				<ul class="space-y-6">
					{
						posts.map((post) => (
							<li class="hover:bg-stone-100 rounded-lg transition-colors mb-14">
								<a href={`/blog/${post.id}/`} class="no-underline flex flex-col gap-2">
									<span class="text-xl font-bold text-[#110100]">{post.data.title}</span>
									<span class="text-sm">{post.data.description}</span>
									<span class="text-sm text-[#5F5224] whitespace-nowrap">
										<FormattedDate date={post.data.pubDate} />
									</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
